<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Same Height</title>
    <style type="text/css">
        .parent {
            display: flex;
            width: 1000px;
        }
        /* .child {
            flex: 1;
        } */
        .left {
            background: red;
        }
        .middle {
            background: blue;
        }
        .right {
            background: green;
        }
    </style>
</head>
<body>
    <div class="parent">
        <div class="child left">
            <p>ahahahahahahahahahahahhahahahahahahahahahahahahah</p>
        </div>
        <div class="child middle">
            <p>ahahahahaha</p>
            <p>ahahahahaha</p>
            <p>ahahahahaha</p>
            <p>ahahahahaha</p>
            <p>ahahahahaha</p>
        </div>
        <div class="child right">
            <p>ahahahahaha</p>
        </div>
    </div>
</body>
</html>